.detailProduct{
    .detailProduct__tabs{
        .nav-tabs{
            @include for-size(md){
                flex-direction: column;
            }
            li{
                a{
                    display: block;
                    border: 1px solid $silver;
                    color: $black;
                    padding: 1rem 3rem;
                    &.active{
                        background-color: $black;
                        color: $yellow;
                    }
                }
            }
        }
        .tab-content{
            padding: 1rem;
        }
    }
}